.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background: #FCDFF6;
  padding: 20px;
  box-sizing: border-box;
}

.app-header {
  width: 458px;
  height: 54px;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  font-size: 40px;
  font-family: 'monospace';
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  word-wrap: break-word;
  margin-bottom: 20px;
}

.app-level {
  width: 228px;
  height: 94px;
  position: absolute;
  font-family: 'monospace';
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  word-wrap: break-word;
}

.app-footer {
  width: 100%;
  height: 33px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  word-wrap: break-word;
}

.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 2px solid #000; /* Solid border for a more defined look */
  box-shadow: 0 0 15px rgba(0,0,0,0.2); /* Soft shadow for a slight depth */
  width: 80%;
  max-width: 500px;
  text-align: center;
}

/* Styling the button for a 90s computer vibe */
.modal-content button {
  background-color: #000; /* Classic dark background */
  color: #00FF00; /* Bright green for that old school CRT monitor look */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
}

.modal-content button:hover {
  background-color: #005500; /* Darker green on hover */
  color: #FFFFFF; /* White text for contrast */
}
